{% if page.share %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>
<script type="text/javascript" src="jquery.min.js"></script>
<script type="text/javascript" src="jquery.qrcode.min.js"></script>
<script type="text/javascript" src="../src/jquery.qrcode.js"></script>
<script type="text/javascript" src="../src/qrcode.js"></script>

<div id="qrcode"></div>

<script type="text/javascript">
  $('#qrcode').qrcode(location.href);
</script>

<!--<script type="text/javascript">-->
  <!--$("#code").qrcode({-->
    <!--width: 150,-->
    <!--height: 150,-->
    <!--text: "https://anxinxu.github.io{{ page.url }}"-->
  <!--});-->

<!--</script>-->
<h2 id="share">Share2</h2>
{% endif %}
