{% if page.share %}

<div id="qrcode" style="width:100px; height:100px; margin-top:15px;"></div>

<!--<script type="text/javascript">-->
<!--var qrcode = new QRCode(document.getElementById("qrcode"), {-->
	<!--text: "anxinxu"，-->
	<!--width: 128,-->
	<!--height: 128,-->
	<!--colorDark : "#000000",-->
	<!--colorLight : "#ffffff",-->
	<!--correctLevel : QRCode.CorrectLevel.H-->
<!--});-->

<script type="text/javascript">
var qrcode = new QRCode(document.getElementById("qrcode"), {
	width : 120,
	height : 120
});

function makeCode () {
	var url = 'https://anxinxu.github.io{{ page.url }}';
	qrcode.makeCode(url);
}

makeCode();

</script>
<h2 id="share">Share2</h2>
{% endif %}
